{% extends "food/base.html" %} {% load static %}
{% block head %}
<link rel="shortcut icon" href="{% static 'static/logo.png' %}" type="image/png">

<style>

@keyframes example {
  from {margin-left: 15px}
  to {margin-left: 25px}
}

#district-list {
    background-color: lightgray;
    transition: background-color .5s;
    animation-name: example;
    animation-duration: 0.85s;
    animation-iteration-count: 100;
    animation-direction: alternate;
    color: black;
}

#district-list:hover {
    background-color: black;
    color: white;
}



</style>


{% endblock %}
{% block heading %}

<h1>Escoge tu distrito:</h1>


{% for district in districts %}
<div style="margin-bottom: 10px;">
 <a id="district-list"  href="{% url 'restaurant_for_district' district.url %}" style="padding:5px; border-radius: 25px; text-decoration: none; margin:5px; font-size: 25px"> 

    {{ district.name }}
</a>
</div>
{% endfor %} 
{% endblock %} 


{% block body %} 

<h2>Todos los restaurantes:</h2>

{% for restaurant in restaurants %}
<a href="{% url 'restaurant_page' restaurant.url %}" style="text-decoration: none;">
    <div style="width: auto; text-align:left">

        <div value="{{ restaurant.id }}" class="card" style="background-color:white; border-color: white; opacity: 90%; height: 170px; border-radius: 25px; box-shadow: 5px 5px 3px 3px #888888;">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img src='{{ restaurant.logo }}' type="image/jpg" width="auto" height="50px" style="border-radius: 15px; margin:15px" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                        <h2 style="font-size: 17px;">
                            {{ restaurant.name }}
                            </h2>
                            </div>
                            <div class="col">
                                <div class="container" style="border-radius: 9px; font-size: 10px; background-color: green;width: 70px; color:white">Abierto</div>
                            </div>
                        </div>
                            <p style="color:black">Delivery: S/ {{ restaurant.deliveryprice }} </p>

                            <p></p>
                    </div>
                </div>
                        <p style="color:black; font-size: 14px;"> 
                            {% with typeofs=restaurant.categorys %}
                           {% for typeof in typeofs %}
                           - {{ typeof.name }}
                           {% endfor %}
                            {% endwith %}
                        </p>
            </div>
        </div>
    </div>
    <hr>
</a>
{% endfor %}



{% endblock %}