{% extends "food/base.html" %} {% load static %}
{% block head %}
<link rel="shortcut icon" href="{% static 'static/logo.png' %}" type="image/png">

{% endblock %}
{% block heading %}

<h2>Escoge una restaurante:</h2>{% endblock %} {% block body %} {% for restaurant in restaurants %}
<div class="container">
    <div class="row">
        <div class="col">
            <embed src='{{ restaurant.logo.url }}' type="image/jpg" width="auto" height="100px" style="border-radius: 15px; margin:15px" />
        </div>
        <div class="col">
            <a href="{% url 'restaurant_page' restaurant.url %}">
                <h1>{{ restaurant }}</h1>
            </a>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}