{% extends "food/base.html" %} {% load staticfiles %} 
{% block head %}




<link rel="shortcut icon" href="{{ restaurant.logo.url }} " type="image/png">
<meta name="title" content="Ingresa al menú digital de {{ restaurant.name }}"/>
<meta name="description" content="{{ elements }}"/>

<style>

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  position:sticky;
  top:0px;
  z-index:111 ;
}
            
div.scrollmenu a {
  border: 1px;
  border-color: gray;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
            
div.scrollmenu a:hover {
  background-color: #777;
}
           
  .input-box{
    width: 100%;
    justify-content: center;
    
  }

    .contact {
    position: fixed;
    bottom: 10px;
    right: 10px;
    }
    .separation {
        background-color: #F1A300;
        height: 5px;
        width: auto;
        margin-bottom: 15px;
    }
 
    .contentf {
        padding-top: 110px;
    }

    .section1 {
        padding-top:25px
    }

    .choose-button{
      display: flex; 
      align-items: center; 
      justify-content: center; 
      color:white;
      vertical-align: center;
      top:middle;
      left:middle;
      opacity:1;
    }

    .choose-button.hide {
      opacity: 0;
    }

    .select-number {
      display:None;
    }

    .select-number-buttons{
      height: auto;
      color:white;
      font-size: 15px;
      display:none;
      text-align: center;
    }
    .the-number {
      background-color: white;
      color:black;
      opacity: 85%;
      text-align: center;
      vertical-align: center;
  
    }
    .makeorder {
      position: fixed;
      width: 100%;
      bottom:0px;
      right:0px;
    }

    .categories {
      border: 1px;
      border: grey;
      border-radius: 15px;
    }
  
    .doFadeOut {
    -webkit-animation:fadeOutSlideDown forwards ease-out 150ms;
    animation:fadeOutSlideDown forwards ease-out 150ms;
}
    
</style>

   {% endblock %} 

{% block body %}
<br>
<div class="separation"></div>
<div class="container" style="text-align: center; font-family: 'Sofia'">
        <h1>
            {{ restaurant }}
          </h1>
<h5 style="color:white; font-family:'Arial'; background-color: green; margin:0 35% 0 35% ; border-radius: 15px; font-size:15px" >  Abierto</h5>
            
            <!--
            <div style="background-color: rgb(255, 133, 133); width: auto; color: black; border-radius: 10px;">Cerrado</div>
            -->
            <div style="font-family:'Arial';">
            <h2>Delivery a</h2>
            
            <h3 style="font-size: 17px;">{{ districts }}</h3>
          </div>
        <embed src='{{ restaurant.logo.url }}' type="image/jpg" width="100em" height="auto" style="border-radius: 15px; margin:15px" />


</div>
<div class="separation"></div>
<div id="navbar" style="position: sticky; top:0; bottom:auto; background-color:white; z-index: 4; font-family: 'Sofia'">

    <h1 style="text-align: center;">Menú del Día
    </h1>

<!--Nav Bar-->
<strong>
  Busca por categorías: 
</strong>
<div class="scrollmenu">
      {% for typeof in typeofs %}
      <a style="color:#3089FF"><div class="categories"  goto="{{ typeof.id }}"> {{ typeof.name }}</div></a>
      
      {% endfor %}
    </div>


    <!--<nav class="navbar">
        <form class="form-inline">
            {% for typeof in typeofs %}
            <button name="navbutton" class="btn btn-outline-secondary" type="button" style="margin-left:10px; "><a href="#{{ typeof.id }}" style=" text-decoration: none;color:gray"> {{typeof.name }} </a></button> {% endfor %}
        </form>
    </nav>-->
</div>

<div id="content" style="color: black; font-family: 'Sofia ' ">

    {% for typeof in typeofs %}
    
    <div name="section" class="section1"></div>
    
    <!--style="background-image:url('https://cnnespanol.cnn.com/wp-content/uploads/2019/01/Galerias-nuevos-restaurantes-2019-CNN-1.jpg?quality=100&amp;strip=info&amp;w=900&amp;h=506&amp;crop=1');">-->
    <h3 id="{{ typeof.id }}" style="position:sticky; top:auto"> {{ typeof.name }}</a></h3><hr>

    {% for dish in dishes %} 
    {% if typeof.id == dish.typeof.id %}
    
    {% if dish.published == 1 %}



    <div class="card" style=" width: 100%; margin:0; background-color:white; color:#A64900; border-color:lightgray;box-shadow: 10px 5px 5px lightgray;opacity:90%; ">
  <div class="row" style="margin: 0;">
            <div class="col-4" style="padding:20px 0 20px 0">
                <div style="display: flex; align-items: center; justify-content: center; padding:5px">
                <div  style="background-image: url('{{ dish.img.url }}'); background-position: center center; background-repeat: no-repeat; background-size: cover; width:100px; height: 100px; border-radius: 25%;" >
                
                </div>
              </div>
              
              
              
              <!--<embed src='{{ dish.img.url }} ' type="image/jpg" width="80%" height="auto" style="border-radius: 15px; margin:15px" />-->
              
            </div>
            
            
            <div class="col" style="padding:0">
              <div class="card-body" style="font-size: 12px; margin:0">
                
                <h5 class="row" style="margin:0;">
                  <strong><h6>{{ dish.name }}</h6></strong>
                </h5>
                <h5 class="row" style="margin:0">S/ {{ dish.price }}</h5>
                <p class="row" style="margin:0">{{ dish.description }}</p>
                <div class="input-box">
                  <div class="choose-button">
                    <button name="the-choosen" class="btn btn-success" value="0">Escoger</button> 
                  </div>
                  <div class="select-number-buttons">
                    <button class="btn btn-primary" name="numbers-buttons-minus" style="border-radius: 50%; opacity: 80%;">-</button>
                    <input class="the-number" type="number" id="{{ dish.id }}" name="{{ dish.name }}" min="1" max="5" value="0">
                    <button class="btn btn-primary" name="numbers-buttons-plus" style="border-radius: 50%; opacity: 80%;">+</button>
                  </div>
                </div>
                
                </div>

                </div>
        </div>
      
    </div>
    {% endif %}
    {% endif %} {% endfor %} {% endfor %}
    <!--{% for dish in dishes %}

    <div class="card" style="width: 100%; margin:5px;display: inline-flex; background-color:black; color:#F5A623; border-color:white ">
        <div class="row">

            <div class="col-sm-3">
                <div class="container" style="text-align: center;">
                    <embed src='{{ dish.img.url }} ' type="image/jpg" width="80%" height="auto" style="border-radius: 15px; margin:15px" />
                </div>
            </div>

            <div class="col-sm-8">
                <div class="card-body ">

                    <h5 class="card-title ">
                        <h4>{{ dish.name }}</h4>
                    </h5>
                    <h5 class="card-title ">S/ {{ dish.price }}</h5>
                    <p class="card-text " style="font-size:1em">{{ dish.description }}</p>

                </div>
            </div>
        </div>
    </div>

    {% endfor %}-->
</div>

<!--<div class="contact">
    <a href="https://api.whatsapp.com/send?phone=+51{{ restaurant.phone }}&text=Vengo%20de%20Encuentrame.fun!%20Deseo%20pedir"> <img src="{% static 'static/wsp-logo.png' %}" alt="whatsapp" width=70px height="auto"></a>

</div>-->
<br><br><br><br>
<div class="makeorder" >
  <button class="btn btn-success" style="padding:15px; width: 100%; border-radius: 15px 15px 0 0;" onclick="myDishes()" data-toggle="modal" data-target="#myModal">Enviar Pedido por Whatsapp    
    <img src="{% static '/static/wsp-logo.png'  %}" alt="whatsapp-logo" height="25px"></button>

</div>



<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¡Este pedido será enviado por Whatsapp! 
          
        </h5>
        <button type="button"  onclick="eraseCurrentSelected()"   class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Te agradecemos por tu preferencia! recibirás una respuesta en breves minutos</p>
        <div class="row">
          <div class="col">
            Artículo
          </div>
          <div class="col">
            Cantidad
          </div>

          </div>
        </div>
      
      <div class="modal-footer">
        <button type="button" onclick="sendRequest()" class="btn btn-primary">Enviar Pedido</button>
        <button name="back" type="button" onclick="eraseCurrentSelected()" class="btn btn-danger" data-dismiss="modal">Modificar Pedido</button>


  </div>
</div>



<script>

$("[name='the-choosen']").click( function () {
  $(this).parent().hide();
  console.log("hidden successfully");
  c = $(this).parents('.input-box').children('.select-number-buttons');
  c.show('slow');
  newval = c.children('.the-number');
  newval.val("1");

});

$("[name='numbers-buttons-minus']").click( function () {
  c = $(this).parent().children('.the-number');
  if (c.val() == 1) {
    newone = c.val("0");
    console.log(newone);
    console.log("no more less");
    c.parent().hide('slow');
    let a =  c.parents(".input-box").children(".choose-button");
    a.show();
    console.log(a);
  }
  else {
    let newone = +c.val() - 1;
    c.val(newone);
    console.log(newone);
  }
});

$("[name='numbers-buttons-plus']").click( function () {
  c = $(this).parent().children('.the-number');
  let newone = +c.val() + 1;
  c.val(newone);
  console.log(newone);
});



finalList = [];

function myDishes() {
  finalList= [];
  let maping_dishes = document.getElementsByClassName('the-number')
  for (var i = 0; i < maping_dishes.length;i++) {
    let val = maping_dishes[i].value;
    let id  = maping_dishes[i].id;
    let dish = maping_dishes[i].name;
    if (val > 0){
      finalList.push({
        "quantity": val,
        "id": id,
        "name": dish,
      })
    } 
  };
  for (var k=0; k < finalList.length; k++) {
    $('.modal-body').append(' <div class="row"> <div class="col"> '+finalList[k].name +' </div> <div class="col">'+ finalList[k].quantity +' </div></div>   '  );
  }
};

$('#navbar div div').click( function () {
    console.log("clickeado baby");
    let section = $(this)
    console.log(section);
    let id = "#" + $(section).attr('goto'); 
    console.log(id);           
    let top = $(id).position().top;
    top = top - 130;
    $('html').scrollTop(top);
  });

  
  
  function sendRequest() {
    var wsp_message = " "
    for (var k=0; k < finalList.length; k++) {
      if (finalList[k].quantity == "0"){
        console.log("element zero");
      }
      else {
        wsp_message = wsp_message + finalList[k].quantity + " " + finalList[k].name+ " - ";
        
        
      }
    }
    console.log(wsp_message);
    window.open("https://api.whatsapp.com/send?phone=+51{{ restaurant.phone }}&text=Te%20encontré%20en%20Encuentrame.fun!%20Deseo%20pedir: "+ wsp_message );
    console.log("sended");
  }
  
  
  function eraseCurrentSelected () {
    console.log("backin!!!");
    $('.modal-body div').empty();
    

  }
  
$('#myModal').modal(options)

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
});

/*
function sendMe() {
  console.log("hallo");
}
/*
const getUserDishes = () => {
  document.getElementsByClassName('the-number').then(response => {
        response.data.map(element => {
            let quantity = element.value;
            let id = element.id;
            console.log(quantify, id);
            }
        );
    });
};
*/
</script>

{% endblock %}