{% extends "food/base.html" %} {% load static %} {% block heading %}
<h2>Escoge una institucion:</h2>{% endblock %} {% block body %}
<h1>
    {% for institucion in instituciones %}
    <h1>
        <img src='https://anunciadoos.s3.amazonaws.com/{{ institucion.logo }}?AWSAccessKeyId=AKIA3T2S6CW2VSV43XP4&Signature=jVsOMTGCwV6VqUQbP2fNmQ0ghmI%3D&Expires=1604690075' height="100px" width="auto">
        <a href="{% url 'salud_page' institucion.url %}">{{ institucion }} </a> {% endfor %}
    </h1>
    {% endblock %}